body {
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 10pt;
	margin: 10px;
}

h1, h2, h3, h4, h5 { margin: 0; }

h1 {
	color: #66f;
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}

h2 {
	color: #393;
}

#admin-column-left {
	float: left;
	width: 200px;
}

#admin-column-main {
	float: left;
	margin-left: 20px;
}

#admin-column-container {
	padding-bottom: 10px;
}

#currentuser-block {
	border-bottom: 1px solid #ddd;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}

#admin-footer {
	clear: both;
	padding: 10px 0 10px 0;
	border-top: 1px solid #ddd;
	text-align: center;
}

.tabstrip {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.tabstrip .tab {
	float: left;
	display: block;
	padding: 4px;
	margin-right: 1px;
}

.tabstrip .final {
	clear: left;
	overflow: hidden;
	height: 0;
}

.tabstrip .selected {
	background-color: #66f;
	color: white;
	font-weight: bold;
	cursor: default;
}

.tabstrip .unselected {
	background-color: #ddd;
	cursor: pointer;
}

.ajaxformblock-heading {
	font-weight: bold;
	padding: 6px 6px 6px 12px;
	margin: 0 0 8px 0;
}
.ajaxform-row {
	padding: 1px 0 1px 0;
}
.ajaxformblock { padding-bottom: 8px; }
.ajaxform .label {
	float: left;
	display: block;
	width: 100px;
	text-indent: 12px;
}
.ajaxform .error, .ajaxform .checkbox-error {
	font-weight: bold;
	color: red;
	padding-left: 12px;
}
.ajaxform .field input {
	line-height: 10pt;
	height: 10pt;
}
.ajaxform .checkbox-field {
	padding-top: 4px;
	padding-right: 4px;
	display: block;
	float: left;
	text-indent: 8px;
}
.ajaxform .checkbox-label {
	line-height: 20pt;
}
.ajaxform .ajaxform-buttongroup {
	padding-left: 11px;
}