<?xml version="1.0"?>
<SprocketSettings>
	<Database Main="SQLiteStandard">
		<Database Name="SQLiteStandard" Type="SQLiteDatabase" Path="datastore/databases/main.s3db" />
		<Database Name="MSSQL2005" Type="SqlServer2005Database" ConnectionString="Server=(local);UID=sa;PWD=;Initial Catalog=Sprocket;" />
	</Database>

	<Security>
		<EncryptionPhrase>Change this as soon as possible!</EncryptionPhrase>
		<!-- Set this to True if SUPERUSER access is required: -->
		<DatabaseSetup Secured="False" />
	</Security>

	<Performance>
		<JavaScriptCondenser Enabled="True" />
		<ContentCache Enabled="False" />
	</Performance>

	<Mail Server="sprocketcms.com" Port="25" Authenticate="True" UseSSL="False" Username="username" Password="Password">
		<RedirectAllMailTo Address="snowdevil@gmail.com" />
		<EmailAddress Type="Null"  Name="Do Not Reply" Address="no-reply@yourdomain.com" />
		<EmailAddress Type="Admin"  Name="Administrator" Address="admin@yourdomain.com" />
	</Mail>
</SprocketSettings>
